@using InteractiveFootballBoxScore_WASM.PbpParser.Models
<span style="color:@team.PrimaryColor; background-color:@team.SecondaryColor">@team.Name</span>

@code {
    [Parameter]
    public Team team { get; set; }
}
