@page "/"
@using InteractiveFootballBoxScore_WASM.Components
@using PlayByPlayParser
@using PlayByPlayParser.Models
@inject HttpClient Http
@inject State.PlayState PlayState
@inject State.GameState GameState

<PageTitle>Index</PageTitle>

<h1>Play-by-Play</h1>
<MatchupBanner/>
<PlayView/>
<PlayTable PlayList="GetPlayList()"/>

@code {

    protected override async Task OnInitializedAsync()
    {
        string sampleDataURI = "sample-data/GameDataFBRef.csv";
        var response = await Http.GetAsync(sampleDataURI);

        if (response.IsSuccessStatusCode)
        {
            await GameState.ProcessGameDataFromHTTP(response);
        }

        PlayState.SetCurrentPlay(GameState.CurrentGame.PlayList[0]);
    }

    private List<Play> GetPlayList()
    {
        return GameState.CurrentGame.PlayList;
    }

    
}
