@using InteractiveFootballBoxScore_WASM.Components.Teams
@using InteractiveFootballBoxScore_WASM.PbpParser.Models
@inject State.GameState GameState
<table>
    <tr>
        <td class="" style="background-color:@Home.SecondaryColor"><TeamSpan team="@Home" /></td>
        <td class="">x</td>
    </tr>
    <tr>
        <td class="" style="background-color:@Away.SecondaryColor"><TeamSpan team="@Away" /></td>
        <td class=""></td>
    </tr>
</table>

@code {
    private Team Home => GameState.CurrentGame.Home;
    private Team Away => GameState.CurrentGame.Away;
}