@using InteractiveFootballBoxScore_WASM.Components.Field
@using PlayByPlayParser.Models
@inject State.PlayState PlayState
<div>
    @if (PlayState.CurrentPlay != null) { 
        @computedPlayString()
        <Field></Field>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        PlayState.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        PlayState.OnChange -= StateHasChanged;
    }
    public string computedPlayString()
    {
        return PlayState.CurrentPlay.PlayEvent.ToString();
    }
}
